@using EntityLayer.Concrete
@model List<Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<input type="text" id="userInput" placeholder="Kullanıcı adı" />
<input type="text" id="messageInput" placeholder="Mesaj" />
<button id="sendButton">Gönder</button>

<ul id="messagesList"></ul>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/2.4.1/jquery.signalR.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        // SignalR'a bağlantı kur
        var chat = $.connection.chatHub;

        // Sunucudan gelen mesajları dinle
        chat.client.receiveMessage = function (message) {
            $('#messagesList').append('<li>' + message + '</li>');
        };

        // SignalR bağlantısını başlat
        $.connection.hub.start().done(function () {
            $('#sendButton').click(function () {
                // Kullanıcıya mesaj gönder
                var user = $('#userInput').val();
                var message = $('#messageInput').val();
                chat.server.sendMessageToUser(user, message);
            });
        });
    });
</script>*@